.section {
    width: 100%;
    min-height: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    border: .3rem solid var(--text-dark);
    background-color: var(--text-light);
    position: fixed;
    z-index: 1000;
}

.nameContainer, .emailAndCampusContainer, .passwordContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    .fName, .lName, .email, .campusNum, .pwd, .confirmPwd {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 .5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.a, .a:visited {
    color: #fff;
}

.input,
.button, .disabledButton {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.label,
.button, .disabledButton {
  margin-top: 1rem;
  margin: 0;
}

.button, .disabledButton {
  padding: 0.5rem;
}

.button {
    border: none;
    background-color: var(--text-dark);
    color: white;
    transition: .3s ease;
    &:hover {
        cursor: pointer;
        padding: 0.7rem;
        font-size: 20px;
        background-color: #1a1c2a;
        transition: .3s ease;
    }
}

.togglePara {
    text-align: center;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.roleContainer {
    visibility: hidden;
}

.closeBtn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 100%;
    border: none;
    background-color: var(--text-dark);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    transition: .2s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        border: .2rem solid white;
        transition: .2s ease;
    }
}