.NavBar {
    width: 100%;
    height: 5vh;
    background-color: rgb(193, 221, 241);
    position: absolute;
}

.navList {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin: 0;
}

.navItem {
    list-style-type: none;
}

.Link {
    text-decoration: none;
    color: #232946;
}
  