.ReadingTracker {
    width: 90%;
    height: 15rem;
    border-radius: .5rem;
    margin: 1rem 0 10rem 0;
    .headerContainer {
        background-color: var(--text-dark);
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        color: white;
        padding: .3rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header {
            margin: 0;
        }
    }
    .scoringContainer {
        border: .3rem solid var(--text-light);
        background-color: aliceblue;
        padding-left: 1rem;
        .goalContainer {
            display: flex;
            align-items: center;
            .goalLabel {
                margin-right: 1rem;
            }
        }
        .targetContainer {
            display: flex;
            .targetInnerContainer {
                margin-left: 1rem;
                width: 40%;
                display: flex;
                justify-content: space-between;
            }
        }
        .onLevelSpan, .checkInSpan {
            margin-left: 1rem;
        }
    }
    .teacherSelector {
        background-color: var(--text-light);
        height: 20%;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}
.selectorContainer {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    .selector {
        &:focus {
            outline: none;
        }
    }
}