.section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    border: .3rem solid var(--text-dark);
    background-color: var(--text-light);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.a, .a:visited {
    color: #fff;
}

.input,
.button {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
  

.label,
.button {
  margin-top: 1rem;
}

.button {
  padding: 0.5rem;
  border: none;
  background-color: var(--text-dark);
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.togglePara {
    text-align: center;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}