body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Dekko", cursive;
    color: var(--text-dark);
    background-image: url('../public/img/star-bg.png');
    background-size: 25%;
    .App {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 7vh;
        background-color: white;
    }
}
